a {
  color: #0289ff;
  text-decoration: none;
}

.active {
  background-color: rgb(21, 21, 21);
}

body {
  background-color: rgb(21, 21, 21);
  color: rgb(245, 245, 245);
  margin: 0;
}

.error {
  color: #f02849;
  font-size: 13px;
  font-family: sans-serif;
  display: block;
}

.form {
  width: 300px;
  padding-bottom: 12px;
}

input {
  height: 30px;
  width: 100%;
  margin: 12px 0 4px 0;
  box-sizing: border-box;
}

.pwd {
  width: 144px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.checkbox {
  width: 13px;
  height: 13px;
}

button {
  margin-top: 12px;
}

.content {
  min-height: calc(100vh - 46px);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(51, 51, 51);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
}

li a:hover {
  background-color: rgb(21, 21, 21);
}

.right {
  float: right;
}